{% extends "menu.html" %}

{% block header %}
    <h1 class="display-1 text-center">Корзина</h1>
{% endblock %}

{% block meny %}
                <a class="nav-link" href="http://127.0.0.1:8002/platform/cart">Корзина</a>
                <a class="nav-link" href="http://127.0.0.1:8002/platform">Вернуться обратно</a>
{% endblock %}

{% block content %}
    <nav>
        <h3 align="center">Извините, ваша корзина пуста</h3>
    </nav>
{% endblock %}

{% block footer %}

{% endblock %}